* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #89c4c5;
}

.row{
  text-align: center;
}

h1{
  color: blue;
  margin-top: 50px;
}

img{
  display: block;
  margin: 30px auto;
  height: 200px;
}

input{
  display: block;
  margin: auto;
}
